##########################################################
# Frontend: Next.js
##########################################################

# dependencies
**/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
**/.next/
/out/

# production
**/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


##########################################################
# Backend: Spring Boot
##########################################################

# Java compiled output
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.env*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


##########################################################
# Services
##########################################################

**/.venv/
__pycache__/
services/spread-sheet/credentials.json