.message {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 5px 0;
  font-size: 16px;
  word-wrap: break-word;
}

.userMessage {
  background-color: #afafaf; /* Light green for user messages */
  align-self: flex-end; /* Align to the right */
  text-align: right;
}

.assistantMessage {
  background-color: #f0f0f0; /* Light grey for other messages */
  align-self: flex-start; /* Align to the left */
  text-align: left;
}
