SERVER_PORT=8080

# Frontend
FRONTEND_URL=http://localhost:3000

# JWT
JWT_SECRET=very-strong-secrete
JWT_EXPIRATION_TIME=3600000

# Database
DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5432/hyper_aigent_db
DATASOURCE_USER=
DATASOURCE_PASSWORD=

# File upload
MAX_UPLOAD_SIZE=10MB

# External services
SERVICE_URL=http://host.docker.internal:5002/services/spread-sheets