.subSideBar {
  width: 244px;
  height: calc(100vh - 111px);
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f2efe5;
  padding: 32px;
  border-radius: 8px;
  box-shadow: -5px 6px 5px rgba(0, 0, 0, 0.1);
  color: black;
  margin-right: 16px;
}

.title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.listWrapper {
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
}

.listWrapper::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
